{% extends 'started_app/base.html' %}
{% block header %}Корзина{% endblock header %}

{% block content %}
    {% if not products %}
        <div>
            Корзина пуста.<br>
            Хотите выбрать что-нибудь в <a href="{% url 'started_app:show_shoes' %}">каталоге</a>?
        </div>
    {% endif %}
    {% for product in products %}

        <div>
            <a href="">{{product}}
                {% for key, value in quantity.items%}
                    {% if key == product.pk %}
                        ({{value}})
                    {% endif %}
                {% endfor %}
            </a>
             Цена {{product.price}}
            <a href="{% url 'cart:remove' shoe_id=product.pk %}"><button class="btn-danger small">x</button></a>
        </div>

    {% endfor %}
<br>
{% if cart_number %}
<div>
    Сумма заказа: {{order_price}}
</div>
{% endif %}
<div>
        <a href="{% url 'started_app:index' %}">
            <button {%if not cart_number%} disabled {% endif %} class="btn-success">
                Оформить заказ
            </button>
        </a>
    </div>
{% endblock content %}