{% extends 'started_app/base.html' %}
{% block header %}Корзина{% endblock header %}

{% block content %}
    {% if not products %}
        <div>
            Корзина пуста.<br>
            Хотите выбрать что-нибудь в <a href="{% url 'started_app:show_shoes' %}">каталоге</a>?
        </div>
    {% endif %}
    {% block products_loop %}

        {% for thing in user.cart.cartproducts_set.all%}
            <p>Вещь: <a href="{% url 'started_app:shoe_info' pk=thing.shoe.pk%}">{{thing.shoe}}</a><a href="{% url 'cart:remove' shoe_id=thing.shoe.pk %}">
    <button class="btn-danger small">x</button></a></p>
            <p>Цена: {{thing.shoe.price}} рублей</p>
            <p>Кол-во {{thing.quantity}}</p>
        {% endfor %}

    {% endblock products_loop %}
<br>
{% if cart_number %}
<div>
    Сумма заказа: {{order_price}}
</div>
{% endif %}
<div>
        {% block order_href %}<a href="{% url 'started_app:create_order' %}">{% endblock order_href%}
            <button {%if not cart_number%} disabled {% endif %} class="btn-success">
                Оформить заказ
            </button>
        </a>
    </div>
{% endblock content %}