<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'started_app/css/styles.css' %}">
    <title>{% block title %}Default title {% endblock title %}</title>
</head>

<body>

<div class="mainmenu">
<ul id="mainmenu" class="mainmenu">

    <li class="left">
        <a href="{% url 'cart' %}"><button class="btn-classic">Корзина({{cart_number}})</button></a>
    </li>

    {% if not user.is_authenticated %}
    <li class="right">
        <a href="{%url 'login'%}"><button class="btn-success">Войти</button></a>
    </li>
    <li class="right">
        <a href="{%url 'register'%}"><button class="btn-classic">Зарегистрироваться</button></a>
    </li>
    {% else %}
    <li class="right"><a href="{%url 'logout'%}"><button class="btn-danger">Выйти</button></a> </li>
    <li class="right text">{{user}}</li>

    {% endif %}
</ul>
    </div>
<br><br><br><br>
<h1>{% block header %}{% endblock header %}</h1>

<div>{% block content%}
    {% endblock content %}</div>

<div>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>
</body>