{% extends 'started_app/base.html' %}
{% block header %}Корзина{% endblock header %}

{% block content %}
    {% for key, value in products.items %}
        <div>
            <a href="">{{value.fields.name}}</a>
             Цена {{value.fields.price}}
            <a href="{% url 'del_from_cart' shoe_id=key %}"><button class="btn-danger small">x</button></a>
        </div>
    {% endfor %}
<br>
{% if cart_number %}
<div>
    Сумма заказа: {{order_price}}
</div>
{% endif %}
<div>
        <a href="{% url 'index' %}">
            <button {%if not cart_number%} disabled {% endif %} class="btn-success">
                Оформить заказ
            </button>
        </a>
    </div>
{% endblock content %}