{%extends "started_app/base.html"%}
{% block header %}Информация о товаре {{shoe}}{% endblock header %}
{% block content%}



<div>
    my_test_text
    {% if shoe.is_available %}
    <div>Нет в наличии</div>
    {% endif %}
    <form method="POST" action="{% url 'cart:add' shoe_id=shoe.pk %}">
        {% csrf_token %}
        {{form.quantity.label_tag}}
        {{form.quantity}}

<!--            <laber for="input-items-quantity">Кол-во</laber>-->
<!--            <input type="number" id="input-items-quantity" min="1" max="10" value="1">-->

        <button type="submit" class="btn-classic">
            Добавить в корзину
        </button>
<!--    <a href="{% url 'cart:add' shoe_id=shoe.pk %}"></a>-->
        </form>
</div>

{% endblock content%}